spring:
  application:
    name : config-server
  profiles:
    active: native
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  cloud:
    config:
      server:
        native:
          search-locations: file:///D:\Java Projects\Micro Services\spring-eCommerce-microservices\config-server\src\main\resources\config

server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: "*"